<ion-header>
  <ion-navbar color="mytheme">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid fixed no-padding>
    <ion-row align-items-stretch>
      <ion-col col-12 col-md-6 *ngFor="let card of cards">
        <ion-card>
          <ion-card-header>
            {{ card.title }}
          </ion-card-header>
          <ion-card-content>
            <p>{{ card.content }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12>
        <ion-card>
          <ion-card-header>
            Big Space
          </ion-card-header>
          <ion-card-content>
            <p>Et vim suscipit apeirian incorrupte, et eruditi liberavisse qui. Augue iudicabit pri at, an mea quidam fabellas, vis id ocurreret sententiae reprimique. Cu mea illud aeterno, deleniti reprimique neglegentur ei pro. Nec ne ipsum omnium sadipscing, vis habemus assueverit et. Munere complectitur ea usu.</p>
          </ion-card-content>
        </ion-card>        
      </ion-col>
      <ion-col col-12 col-md-3 *ngFor="let card of cards">
        <ion-card>
          <ion-card-header>
            {{ card.title }}
          </ion-card-header>
          <ion-card-content>
            <p>{{ card.content }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>      
    </ion-row>
  </ion-grid>

</ion-content>
